@model HvN.BigHero.DAL.Model.RowDetailViewModel

<h3><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new record for @Model.TableName</h3>
<hr>
@Html.Partial("_RowDetail", Model)

@section scripts
{
    <script src="~/Scripts/Table/tableRecord.js"></script>    
}
